{
  "domain": "localhost",
  "port": 8080,
  "baseUrl": "/",
  "isSSL": false,
  "siteName": "Sample Site",
  "chatContainerId": "eb-chat-widget-container",
  "firebase": {
    "isEnabled": true
  },
  "greatefulChat": {
    "isEnabled": true,
    "chat": {
      "support": {
        "name": "Support",
        "body": ""
      },
      "public": {
        "name": "Group",
        "body": ""
      }
    }
  }
}
