{
  "domain": "localhost",
  "port": 8080,
  "baseUrl": "/",
  "isSSL": false,
  "siteName": "Sample Site",
  "chatContainerId": "eb-chat-widget-container",
  "firebase": {
    "isEnabled": false,
    "apiKey": "api-key",
    "authDomain": "sample-site.firebaseapp.com",
    "databaseURL": "https://sample-site.firebaseio.com",
    "projectId": "sample-site",
    "storageBucket": "sample-site.appspot.com",
    "messagingSenderId": "sender-id",
    "appId": "app-id"
  },
  "greatefulChat": {
    "isEnabled": true,
    "support": {
      "chat": {
        "name": "Support Chat",
        "body": ""
      }
    }
  }
}
