*~
*.bak
.buildpath
.project
.settings
*.tmproj
.idea
nbproject/
.DS_Store
Thumbs.db
desktop.ini

.git
.gitignore
README.md

*.pyc
/server/venv/*
__pycache__
/tags
/server/tags

/server/.Python
/server/[Bb]in
/server/[Ii]nclude
/server/[Ll]ib
/server/[Ll]ib64
/server/[Ll]ocal
/server/[Ss]cripts
/server/pyvenv.cfg
/server/.venv
/server/.flaskenv
/server/pip-selfcheck.json
/server/adapter.wsgi
/server/build

/docker-compose.yml*
/mysql/mysql_data/*
package-lock.json
/node_modules/*

/public/assets/js/*
/public/assets/css/*

