*~
*.bak
.buildpath
.project
.settings
*.tmproj
.idea
nbproject/
.DS_Store
Thumbs.db
desktop.ini

*.pyc
/api/venv/*
__pycache__
/tags
/api/tags

/docker-compose.yml

/mysql/mysql_data/*

/api/.Python
/api/[Bb]in
/api/[Ii]nclude
/api/[Ll]ib
/api/[Ll]ib64
/api/[Ll]ocal
/api/[Ss]cripts
/api/pyvenv.cfg
/api/.venv
/api/.flaskenv
/api/pip-selfcheck.json
/api/adapter.wsgi
/api/build

/api/var/*

/front/package-lock.json
/front/node_modules/*

/front/src/client/js/config/firebase_config.js
/front/src/client/js/config/site.json
/front/public/assets/js/*
/front/public/assets/css/*
/public

/nginx/logs/*
