*~
*.bak
.buildpath
.project
.settings
*.tmproj
.idea
nbproject/
tags
.DS_Store
Thumbs.db
desktop.ini
tags

*.pyc
/venv/*
__pycache__
tags

/server/.Python
/server/[Bb]in
/server/[Ii]nclude
/server/[Ll]ib
/server/[Ll]ib64
/server/[Ll]ocal
/server/[Ss]cripts
/server/pyvenv.cfg
/server/.venv
/server/pip-selfcheck.json
/server/instance/config.py
/server/adapter.wsgi
/server/build

package-lock.json
/node_modules/*

/src/client/js/config/config.json
/src/client/js/config/firebase_config.js
/src/client/js/config/site.json
/public/assets/js/*
/public/assets/css/*

/server/var/*
