*~
*.bak
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
tags
.DS_Store
Thumbs.db
desktop.ini
tags

package-lock.json
/node_modules/*

/src/server/config/config.json
/src/client/js/config/config.json
/src/client/js/config/firebase_config.js
/src/server/config/firebase-admin-credentials.json
/src/server/config/aws-config.json

/server/*
/public/assets/js/*
/public/assets/css/*
