version: '3'

services:
  db:
    build: ./mysql
    volumes:
      - ./mysql/mysql_data:/var/lib/mysql # mount local dir to mysql data dir on container
      - ./mysql/sqls:/docker-entrypoint-initdb.d # import initial data
    restart: always # Run container on OS start
    environment:
      - MYSQL_ROOT_PASSWORD='set-root-user-password'

  api:
    build: ./api
    container_name: api
    volumes:
      - ./api:/app
    restart: always # Run container on OS start
    tty: true
    environment:
      FLASK_ENV: 'production'
      SECRET_KEY: 'set-your-secret-key'
      DB_HOST: 'db'
      DB_USER: 'root'
      DB_PASSWORD: 'set-your-password'
      DB_DBNAME: 'flaskbird2_db'
      TZ: 'Asia/Tokyo'
    #command: python /app/run.py
    depends_on:
      - db
    links:
      - db
    expose:
      - 5000

  front:
    build: ./front
    container_name: front
    restart: always # Run container on OS start
    expose:
      - 80

  nginx:
    build: ./nginx
    container_name: nginx
    volumes:
      - ./nginx/logs:/var/log/nginx
    restart: always # Run container on OS start
    links:
      - api
      - front
    ports:
      - '8000:5000'
      - '8001:80'
