version: '3'

services:
  app:
    build: .
    ports:
      - '5000:5000'
    volumes:
      - '.:/flaskbird'
    tty: true
    environment:
      FLASK_ENV: 'production'
      SECRET_KEY: 'set-your-secret-key'
      DB_HOST: 'db'
      DB_USER: 'root'
      DB_PASSWORD: 'set-your-password'
      DB_DBNAME: 'flaskbird2_db'
      TZ: Asia/Tokyo
    command: python /flaskbird/server/run.py
    links:
      - 'db'

  db:
    build: ./mysql
    environment:
      TZ: Asia/Tokyo
    volumes:
      - ./mysql/mysql_data:/var/lib/mysql
      - ./mysql/sqls:/docker-entrypoint-initdb.d # import initiarize data
    environment:
      - MYSQL_ROOT_PASSWORD='set-root-user-password'

