{
  "port": 8080,
  "session": {
    "secretKey": "secret-key",
    "cookie": {
      "maxAgeHours": 24,
      "secure": true
    }
  },
  "dbs": {
    "mysql": {
      "host": "localhost",
      "port": "3306",
      "user": "username",
      "password": "password",
      "database": "db-name",
      "logging": false
    }
  },
  "cors": {
    "isEnabled": true,
    "options": {
      "origin": ["http://example.com"],
      "credentials": true
    }
  },
  "auth": {
    "firebase": {
      "isEnabled": false
    }
  }
}
