{
  "session": {
    "secretKey": "secret-key",
    "cookie": {
      "maxAgeHours": 24,
      "secure": true
    }
  },
  "dbs": {
    "mysql": {
      "host": "localhost",
      "user": "username",
      "password": "password",
      "database": "db-name"
    }
  }
}
